#bg{
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

h1{
    text-align: center;
    margin-top: 50vh;
}

a{
    color:black;
    text-decoration: overline;
}